# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
cmd/shortener/shortenertestbeta
cmd/shortener/shortenertest
cmd/shortener/tests.sh
storage.json
user_data.json
user_sessions.json
user_storage.json
# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Binaries
cmd/shortener/main
cmd/shortener/shortener

# Dependency directories (remove the comment below to include it)
vendor/

# IDEs directories
.idea
.vscode
data.json
shortener
shortenertest
shortenertestbeta
tests.sh